# project commons
.gitkeep
.*rc
.*ignore
.editorconfig

LICENSE

## Node.js
package-lock.json

## IntelliJ
.idea

## common lock file
*.lock

# project specifics
## dest dir
lib/
## view template
views/
## coverage
coverage/

# renovate
renovate.json

# Not Supported Files
## Text
*.txt
## images
*.png
*.jpg
*.ico
*.gif
## XML
*.xml
## PlantUML
*.puml
*.uml
## SQL
*.sql
## Shell Script
*.sh
*.bash
*.cmd
*.bat
## HTTP
*.http
